* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.demo-logo-vertical img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  background-color: black;
}
