h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

.containerSearch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.customTable {
  background-color: red;
}
